<div id="main" class="container-fluid">
	<div id="main-container" class="container-fluid">
		<div class="row home-content inline-block pt-5">
				<div class="col-12">
					<h1>James Foley</h1><br>
					<h4>Software Developer</h4>
					<p class="mb-0 pb-0">Programming has been an outlet for me to use problem solving and logic in a way that provides a product for clients. I have enjoyed my time in mobile development with Android and the transition to Kotlin. I have learned a great deal about web applications and have learned to appreciate a simple and efficient API. Programming to me, to put it simply, is fun.</p>
					<p class="mb-0 pb-0">I created this website with many ideas. But, when it came time to actually get to writing the code, I froze. The sad truth was, I had no visual idea of what I wanted. Design is a talent not many have, so I stuck to what I know and made it simple. I figured, the simpler the better.</p>
					<p>If you're interested in starting or rebuilding a website for your business, I offer my services to aid in that creation. Tap that <u>Services</u> up top and take a look. I certainly hope to make something with or for you. Happy browsing.</p>
				</div>
		</div>
		<div class="row pb-5">
			<div class="mx-auto">
				<img class="mr-4" height="50px" src="assets/images/android.png" alt="android" title="Android">
				<img class="mr-4" height="50px" src="assets/images/java.png" alt="java" title="Java">
				<img class="mr-4" height="50px" src="assets/images/kotlin.png" alt="kotlin" title="Kotlin">
				<img class="mr-4" height="50px" src="assets/images/netcore.png" alt="netcore" title="DotNet Core">
				<img class="mr-4" height="50px" src="assets/images/mysql.png" alt="mysql" title="MySQL">
				<img class="mr-4" height="50px" src="assets/images/angular.png" alt="angular" title="Angular">
				<img class="mr-4" height="50px" src="assets/images/html.png" alt="html" title="Html">
				<img class="mr-4" height="50px" src="assets/images/sass.png" alt="scss" title="Scss">
			</div>
		</div>
	</div>
</div>
