.leftside, .rightside {
	height: 50vh;
	width: 100%;
}
.leftside, .right-small-header {
	background-image: url('../assets/images/image1.jpg');
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rightside {
	background: transparent;
}
.right-small-header {
	height: 150px;
}

@media screen and (min-width: 768px){
	.leftside, .rightside {
		height:100vh;
	}
}

.bg {
	background-image: url('../assets/images/image1.jpg');
	height: 100%;
	width: 40%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-alt {
	background-image: url('../assets/images/image1.jpg');
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
	background-image: url('../assets/images/1967mustang.jpg');
	height: 30%;
	max-height: 600px;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

