	<jdevsm-nav></jdevsm-nav>
	<div class="row no-gutters">
		<div class="col-12 col-lg-4 no-gutters d-none d-lg-block">
			<div class="leftside d-flex justify-content-center align-items-center">
				<div class="h4 text-white px-3">
					<b>“</b>One of the best programming skills you can have is knowing when to walk away for awhile.<b>”</b><b> - Oscar Godson</b>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-8 no-gutters">
			<div class="rightside">
				<div class="d-block d-lg-none right-small-header d-flex justify-content-center align-items-center mb-3">
					<div class="h6 text-white px-5">
						<b>“</b>One of the best programming skills you can have is knowing when to walk away for awhile.<b>”</b><b> - Oscar Godson</b>
					</div>
				</div>
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>

