<div class="container-fluid">
	<div class="home-content inline-block pt-2">
		<p>I offer my 7 years experience working as a developer to customers wanting a professional app for a reasonable price. For more information or to discuss the feasibility of a project, give me a call or email and I'll be happy to talk about over.</p>
		<ul>
			<li>Mobile Developement - Android/iOS</li>
			<li>Web Applications - Full api/database/website to Single page informational site</li>
		</ul>
		<h3>Contact:</h3>
		<p class="contact-info">
			<span>Phone:</span>494 0947 with area code 707<br>
			<span>Email:</span>jdjfoley (at) gmail (dot) com
		</p>
	</div>
</div>
