<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <jdevsm-blog-card title="Relearning Angular" tags="angular, typescript, bootstrap" date="July 1st, 2019">Being placed on the mobile team at work, I've needed to relearn some angular and noted some changes in formatting with angular updates.</jdevsm-blog-card>
    </div>
    <div class="col-md-6 col-12">
      <jdevsm-blog-card title="Hello Kotlin" tags="android, kotlin, java" date="July 4th, 2019">Java has been a major part of my programming in my 12 years of coding. Seeing this change to kotlin has been refreshing to say the least.</jdevsm-blog-card>
		</div>
		<!-- <div class="col-sm"></div> -->
  </div>
</div>
